@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>

<h4>Projeto realizado por Gabriel Scola e Brenda</h4>
<p>Esse é um projeto realizado para a disciplina de Projetos Web, com a intenção de criar um Dashboard que contenha informações sobre uma possível contaminação de Míldio, presente em videiras, que em condições favoráveis, a doença pode ocasionar perdas de até 75% da produção.</p>
