@{
    ViewBag.Title = "Entre em contato conosco";
}
<h2>@ViewBag.Title</h2>

<p>
    Encontrou algum bug no nosso site?<br />
    Deseja reportar algum erro?<br />
    Quer nos enviar uma mensagem?<br />
    Entre em contato pelo e-mail abaixo!
</p>

<address>
    <strong>Suporte:</strong>   <a href="mailto:suporte@dashmildio.com">suporte@dashmildio.com</a><br />
</address>