@{
    ViewBag.Title = "O que há de novo";
}
<h2>@ViewBag.Title</h2>

<p>
    Versão <strong>beta</strong><br />
    <ul>
        <li>
            Meteorologia utilizando geolocalização.
        </li>
        <li>
            Gráfico de umidade do ar (ainda não usa valores reais).
        </li>
        <li>
            Mensagem de aviso em caso de perigo de contaminação da doença.
        </li>
    </ul>
</p>
