@model List<DadosModel>
@{
    ViewData["Title"] = "Visualizar dados";
}

<h1>Visualizar dados</h1>

<div class="container">
    <table>
        <thead>
            <tr>
                <th>Id </th>
                <th> Temperatura </th>
                <th> Chuva </th>
                <th> Humidade </th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @foreach(var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.Temperatura</td>
                <td>@item.Chuva</td>
                <td>@item.Humidade</td>
            </tr>
            }
        </tbody>
    </table>
    <a href="cadastrar">Cadastrar novo</a>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    function RetornaDados(result) {
        var tableBody = document.getElementById("tableBody");
        tableBody.innerHTML = "";
        result.forEach(showResult);
    }

    function showResult(elemento) {
        var tableBody = document.getElementById("tableBody");
        var strTabela = "";
        strTabela = strTabela + "<tr>";
        strTabela = strTabela + "<td>" + elemento.id + "</td>";
        strTabela = strTabela + "<td>" + elemento.temperatura + "</td>";
        strTabela = strTabela + "<td>" + elemento.chuva + "</td>";
        strTabela = strTabela + "<td>" + elemento.humidade + "</td>";
        strTabela = strTabela + "</tr>";
        tableBody.innerHTML = tableBody.innerHTML + strTabela;
    }
</script>